.register-component {
    background: white;
    color: #364156;
}

.register-title {
    text-align: center;
}

.register-grid {
    display: grid;
    width: 100%;
    justify-content: center;
}

.padding-top-10px {
    padding-top: 10px;
}

.margin-top-10px {
    margin-top: 10px;
}

.register-select-pulldown {
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.register-input-label {
    margin: .4rem;
    font-size: 60%;
}

.register-checkbox-option {
    display: flex;
    margin-left: 9px;
}

.register-checkbox {
    font-size: 70%;
}

.register-p{
    font-size: 80%;
    margin-left: 9px;
    margin-top: 20px;
}


